# General files to ignore.
.Rproj.user
.Rhistory
.RData
*.Rproj
*.swp

# Other files to ignore.
presentations/
/tables
code/4_WPCNA-Optimization/wtAdjm.csv
rdata
pydata
data
figures/
.Ruserdata
[Tt]emp/
reports/
venv/
pyenv/
renv/
packrat/lib*/

# Ignore temporary files in radalib directory.
bin/radalib/file*
