# Files and folders/ to ignore.
.Rproj.user
.Rhistory
*.Rproj
*.swp
code/4_WPCNA-Optimization/wtAdjm.csv
rdata
.Ruserdata
[Tt]emp/
figures/
reports/
tables/
venv/
pyenv/
renv/
packrat/lib*/
# Ignore temporary files in radalib directory.
bin/radalib/file*
